/* .card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(184, 189, 192, 0.568);
    transition: all 0.5s;
    width: 16rem;
    height: auto;
    margin: 2vmax ;
    padding-bottom: 0.5vmax;
}
.card:hover{
    background-color: rgba(175, 168, 168, 0.733);
    border: 0.5px solid rgb(59, 55, 55);
    box-shadow: 0 0 5px rgba(15,15,15,0.26);
    transform: translateY(-0.5vmax);
    text-decoration: none;

}

.coursecard_body{

    width: 100%;
  
    text-transform: capitalize;
    padding-left: 1vmax;
    margin: 1vmax 1vmax;
}
.coursecard_body h2{
    
    font: 2vmax "Roboto";
}
.coursecard_body svg{
    color: rgba(248, 110, 55, 0.945);
}
.coursecard_body span{
    
    font: 1vmax "Roboto";
    display: inline;
    margin-right: 4px;
}
.coursecard_body h3{
    display: inline;
    font: 1.5vmax "Roboto";
}

.coursecard_body_2{
  
    margin-bottom: 2vmax;
    margin-left: 1vmax;
}

@media screen and (max-width:600px) {
  
}  */



.courseCard{
    display: inline-block;
    width: 30%;
    min-width: 300px;
    margin: 10px;
    max-height: 45vh;
    height: 45vh;
    font-family: 'Roboto';
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  
    /* background: linear-gradient(110deg, #cce5ff 60%, #99caff 60%); */
    background: linear-gradient(110deg, #f9fcff 60%, #dddeebb7 60%);


    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
  }
  .clgname{
    display: flex;
    flex-direction: row;
    
    align-items: center;
  }
  .clgname img{
    margin-right: 5px;
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .coursecard_body {
    
    /* background: linear-gradient(110deg, #cce5ff 60%, #99caff 60%); */
    background: linear-gradient(110deg, #f9fcff 60%, #dddeebb7 60%);

    padding: 10px;
    /* height: 220px; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  .coursecard_body p{
     padding:0;
     margin: 1px;
     font-family: 'Roboto';
  }
  
  .coursecard_body h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-family: 'Roboto';
    text-transform: capitalize;
}

.coursecard_body h3 {
      text-transform: capitalize;
    font-size: 1rem;
  }
  
  .coursecard_body_2 {
    height: 20%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .coursecard_body_2 p {
    margin: 0;
    font-size: 0.9rem;
    text-transform: capitalize;
  }
  
  .applybtn {
    font-size: 0.7rem;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #007bffd2;
    color: #fff;
    transition: all 0.2s ease-in-out;
    border: none;
  }
  
  .applybtn:hover {
    background-color: #0056b3;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  