h1{
  
    position: relative;
    text-align: center;
    font: 3vmax "Roboto";
    border-bottom: 1px solid black;
    padding: 1vmax 1vmax;
    width: 95%;
    left: 2.5%;
}
.main{
    display: flex;
  
    margin: 1vmax auto;

}
.coursesdiv{

    /* border: 2px solid black; */
    margin-left: 0;
    padding-left: 0vmax;
}
.allcourse{
    width: 100%;
    border-top: 2px solid black;
    margin-left: 1%;

}
.filters{
    width: 20%;
    /* border: 2px solid black; */
    margin-left: 1vmax;
}
.filters h2{
    text-align: center;
}

#allCourse{
    margin-top: 2vmax;
    text-align: center;
    font: 1.5vmax "Roboto";
}
#modalp{
    margin-left: 10vmax;
}