.courseHeader h2{
    text-transform: uppercase;
    font:2.5vmax 400 "Roboto";
    /* border-bottom: 2px solid black; */
  

}
.table{
    display: flex;
    flex-direction: column;
   margin-top: 5vmax;
   padding-top: 5vmax;
}
.p-edit p{
    border-left: 3px solid tomato;
    padding: 1vmax 1vmax;
    background: linear-gradient(110deg, #545557 60%, #707981 60%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    min-height: 5vmax;
   color:rgb(245, 231, 231);
   /* font-weight: bold;   */
   font-size: 18px;
   font-family: 'Rotobo';
   width: 95%;
}
.p-edit h4{
    text-align: left;
}
.courseHeader
{
    margin-top: 3vmax;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Rotobo';
    
    
}
.courseHeader h2{
    /* margin-left: 3vmax; */
}
.courseHeader a{
    /* margin-right: 3vmax; */
}
.depertmentbar{
    /* border:2px solid black; */
    width:15%;
    display:flex;
    flex-direction: column;
    margin-left: 1vmax;
    /* justify-content: center; */
    text-align: center;

}
.depertmentbar a{
    text-decoration: none;
    width: 100%;
    margin-bottom: 1vmax;
    text-transform: capitalize;
    background: #99caff;
    color: gray;
    transition: all 0.9s;
    border-radius: 10%;
    padding: 0.5vmax;
}
.depertmentbar a:hover{
    background: white;
    color: black;
    border:1px solid gray;
}


