.MyApplication{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border:2px solid black; */
    width: 90vw;
    margin: 2vmax auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-left: 4px solid tomato;
    background-color: rgba(0, 0, 0, 0.116);
   
}
.leftDiv{
    /* width: 60%; */
    max-width: 40%;
    overflow: hidden;
    margin-top: 1vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.middleDiv{
    /* width: 20%; */
    margin-top: 1vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rightDiv{
    max-width: 25%;
    margin-top: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.rightDiv button,.rightDiv a{
 min-width: 10rem;
 min-width: 10rem;

}
.Paybtm{
    background:  #33b249;
    border: none;
}
.Paybtm:hover{
    background:  #0ece2e !important;
}
.paynotic{
    font-size: 0.7vmax;
}