/* .MyApplication{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    width: 90vw;
    margin: 2vmax auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-left: 4px solid tomato;
    background-color: rgba(0, 0, 0, 0.116);
   
}
.leftDiv{

    max-width: 40%;
    overflow: hidden;
    margin-top: 1vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.middleDiv{
    
    margin-top: 1vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rightDiv{
    max-width: 25%;
    margin-top: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.rightDiv button,.rightDiv a{
 min-width: 10rem;
 min-width: 10rem;

}
.Paybtm{
    background:  #33b249;
    border: none;
}
.Paybtm:hover{
    background:  #0ece2e !important;
}
.paynotic{
    font-size: 0.7vmax;
} */

.MyApplication {
    background: linear-gradient(110deg, #cce5ff 60%, #99caff 60%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    border-left: 2px solid tomato;
    border-right: 2px solid tomato;
  }
  
  .MyApplication .leftDiv {
    flex: 1;
    margin-right: 20px;
  }
  
  .MyApplication .leftDiv p {
    margin-bottom: 10px;
  }
  
  .MyApplication .middleDiv {
    flex: 1;
    margin-right: 20px;
  }
  
  .MyApplication .middleDiv p {
    margin-bottom: 10px;
  }
  
  .MyApplication .rightDiv {
    flex: 1;

  }
  
  .MyApplication .rightDiv button {
    margin-right: 10px;
  }
  
  .MyApplication .rightDiv .Paybtm {
    margin-right: 10px;
  }
  
  .MyApplication .paynotic {
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
    color: tomato;
  }
  