.error{
    position: absolute;
    color: red;
    font-size: .6rem;
}
.applyform{
    background-color: #f5dadaa8;
    box-shadow: rgba(0, 0, 0, 0.345) 0px 10px 15px;
}

.applyForm {
    padding-top: 2vmax;
    display: flex;
    margin: 1vmax auto;
    width: 90vw;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* border: 2px solid rebeccapurple; */
    max-width: 100%;
}
.but{
    
   width: 100vw !important;
   text-align: center;
   margin-top: 2vmax;
   padding-bottom: 2vmax;
}

.applyForm button{
    width: 20vw;
    height: 3vmax;
    background-color: #4CAF50;
    /* transition: all 0.5s; */
}
.applyForm button:hover{
  transform: scale(1.03);
  transition: all 0.5s;

    
}

.applyinput{
    margin-left: 2vmax;
    width: 20vmax;
    padding-bottom: 2vmax;
    margin: 1px auto;
    /* border: 2px solid black; */
}

.applyinput input{
   
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #949494;
    border-bottom-width: 2.5px;
    transition: all 0.3s ease;
   
   
}
.applyinput label{
    padding-bottom: 4px;
    margin-left: 1vmax;
}
.applyinput input:focus
{
  border-color: rgb(71, 172, 255);
}