.search input[type=text] {
    /* padding: 0.5vmax 1vmax; */
    font-family: "Roboto";
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    /* line-height: 1.5rem; */
    height: 3rem;
    width: 13rem;
    /* margin-bottom: 3px; */
    padding-right: 1vmax;
    padding-left: 2vmax;
    width: 100%;
    display: flex;
    align-items: center;
    outline: none;

}

.search input[type=submit] {
    width: 4.5rem;
    /* height: 2.39rem; */
    height:3rem;
    background-color: tomato;
    font: "Roboto";
    outline: none;
    border: none;
    /* border-radius: 5px; */
}

.search {
    max-width: 100%;
    display: flex;
    /* border: 1px solid black; */
}

.search svg {
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;

}
.search input[type=submit]:hover{
    background-color: rgba(255, 99, 71, 0.904);
}