.formContainer{
    /* max-width: 100%;
    width: 100vw;
    height: 100vh;
    background-color: #bb3131 ;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0; */
    /* position: fixed; */

    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230,230,230);
    /* position: fixed; */
    top: 0%;
    left: 0;
  }
  .content{
    background-color: white;
    width: 90vw;
    height: 90vh;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
  }
  .login_signUp_toggle{
    display: flex;
    height: 3vmax;
  }
  .login_signUp_toggle p{
    margin-top: 1vmax;
    color: rgba(0,0,0,0.678);
    font:300 1vmax "Roboto";
    cursor: pointer;
    display: grid;
   place-items: center;
    transition: all 0.5s;
    width: 100%;
}
.login_signUp_toggle p:hover{
    color: tomato;
}

.content div button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
    margin-bottom: 2vmax;
}

.registerForm,.loginForm{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    padding: 1vmax 1vmax;
    /* justify-content: space-evenly; */
    height: 100%;
   
}
.registerForm{
    transform: translateY(-100%) translateX(-100vmax)
}
.loginData {
  display: flex;
  flex-direction: column;
}
#loginDatadiv-1,#loginDatadiv-2{
 width: 60vw;
}
.loginData input{
  width: 100%;
}



.shiftToLeft{
    transform: translateX(-100%);

}
.shiftToNeutral{
    transform: translateX(0%);
}
.shiftToNeutralForm{
    transform: translateX(0%) translateY(-100%);
}
.shiftToRight{
    transform: translateX(100%);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  /* margin: 20px 0 12px 0; */
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: tomato;
}
form .gender-details .gender-title{
  
 font-size: 20px;
 font-weight: 500;
}
form .category{
   
  display: flex;
  width: 30vw;
  margin: 14px 0 ;
  justify-content: space-between;
}
form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot{
 height: 18px;
 width: 18px;
 border-radius: 50%;
 margin-right: 10px;
 background: #d9d9d9;
 border: 5px solid transparent;
 transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
  background:tomato;
  border-color: #d9d9d9;
}
form input[type="radio"]{
  display: none;
}
form .button{
  height: 45px;
  margin: 35px 0;
  width: 15rem;
}
form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, tomato,rgba(255, 99, 71, 0.219));
}


 
   form .button input:hover{
    transform: scale(0.99);
    background: linear-gradient(-135deg,rgba(255, 99, 71, 0.219), tomato);
    }



   @media(max-width: 584px){
   .formContainer{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .formContainer .content .category{
      flex-direction: column;
    }
  } 