.form-div-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-input-container {

}
.form-input-container{
    width: 90%;
    margin: 1px auto;
  
}
.form-input-button {
    width: 90%;
    margin-top: 5px;
}


.form-input-container input{
   border: none !important;
}

@media screen and (max-width: 600px) {
    .form-div-container{
       flex-direction: column;
    }
    .form-input-container{
        width: 90%;
        margin: 1px auto;
    }
}