*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    /* background:linear-gradient(to right,#36d5f1,#cf9dcd); */
    overflow-x: hidden;
  
    /* background-color: #cce5ff; */
    background-image: linear-gradient(to right, #ffc285, #f4d283, #e3e28a, #cdf19a, #b3ffb3) !important;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
     margin: 0;
}


input[type="number"]
{
    -moz-appearance:textfield;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.greenColor{
    color: green !important;

}
.redColor{
    color: red !important;
}