.upperHeader{
   height: auto;
    /* align-items: center; */
    /* border: 2px solid black; */
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.navMain{
    width: 99% ;
    margin: 2px auto;
    margin-top: 5px;
    /* padding-top: 0; */
    box-shadow: rgba(0, 0, 0, 0.345) 0px 10px 15px;
    border-radius: 10px;
}
.navbar-nav{
    text-align: center;
    margin: 1px auto;
}
.navbar-nav span ,
.navbar-nav svg{
    color: aliceblue;
}

.navli  svg{
   margin-right:10px ;
   font-size: 1.5vmax;

}
.navli{
    margin-left: 1.5vmax;
}
.active{
    font-size:1.3vmax !important;
}

.left{
    display: flex;
    flex-direction: column;
  
  margin-right: 2vmax;
  
    text-align: right;
}
.left div{
    margin-bottom:7px ;
}
.left a{
    color: black;
    padding-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font: 1vmax 300 'Roboto';

}
.leftBorder{
    border-left: 2px solid black;
}
.rigt{
/* display: flex; */
margin-left: 2vmax !important;
/* margin-right: 2vmax; */

}
.rigt h2{
  
    font-weight: 700;
    font-family:"Roboto";
    color: rgb(40, 26, 238);
    
}
@media (max-width: 640px) 
{
    .rigt span
    {
        display: none;
    }
}